In [7]:
import pandas as pd 
import streamlit as st
from functools import reduce

# Data Preprocessing

1. The data contains missing values. For all three CSVs, use forward filling for imputing the missing data. Forward filling uses earlier values of the country for filling later ones (tip: there exist a Pandas function for that)

In [2]:
life = pd.read_csv('C:/Users/deniz/OneDrive/Dokumente/GitHub/streamlit/life_expectancy_years.csv').fillna(method='ffill', axis=1)
pop = pd.read_csv('C:/Users/deniz/OneDrive/Dokumente/GitHub/streamlit/population_total.csv').fillna(method='ffill', axis=1)
gni = pd.read_csv('C:/Users/deniz/OneDrive/Dokumente/GitHub/streamlit/gnipercapita_ppp_current_international.csv').fillna(method='ffill', axis=1)
gni = gni.fillna(method='bfill', axis=0)

2. For each CSV, transform the dataframe into a so called "tidy data format" (see e.g. https://en.wikipedia.org/wiki/Tidy_data). Each dataframe then should have only three columns: (1) country, (2) year, (3) the KPI (that means either a) life expectancy, b) population, or 3) GNI per capita)

In [3]:
formatted_life = pd.melt(life,["country"], var_name="year", value_name="life_exp")
formatted_life = formatted_life.sort_values(by=["country"])

In [4]:
formatted_pop = pd.melt(pop,["country"], var_name="year", value_name="pop")
formatted_pop = formatted_pop.sort_values(by=["country"])
formatted_pop.head(10)

           country  year       pop
0      Afghanistan  1800   3280000
53625  Afghanistan  2075  76200000
5070   Afghanistan  1826   3370000
56355  Afghanistan  2089  76800000
9165   Afghanistan  1847   3700000
49530  Afghanistan  2054  67400000
12090  Afghanistan  1862   3980000
24180  Afghanistan  1924   9200000
34515  Afghanistan  1977  13200000
29835  Afghanistan  1953   8040000

In [5]:
formatted_gni = pd.melt(gni,["country"], var_name="year", value_name="GNI")
formatted_gni = formatted_gni.sort_values(by=["country"])
formatted_gni.head(10)

          country  year          GNI
0     Afghanistan  1990  Afghanistan
3348  Afghanistan  2008  Afghanistan
3162  Afghanistan  2007  Afghanistan
2976  Afghanistan  2006  Afghanistan
5022  Afghanistan  2017       2230.0
2790  Afghanistan  2005  Afghanistan
2604  Afghanistan  2004  Afghanistan
2418  Afghanistan  2003  Afghanistan
2232  Afghanistan  2002  Afghanistan
2046  Afghanistan  2001  Afghanistan

3. You have to merge all three CVS. Merge the three dataframe into one dataframe, that just has 5 columns (country, year and all three KPIs from the three dataframes)

In [8]:
data_frames = [formatted_life, formatted_pop, formatted_gni]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['country', 'year'], how='outer'), data_frames)
df_merged

           country  year life_exp       pop     GNI
0      Afghanistan  1800     28.2   3280000     NaN
1      Afghanistan  2087     75.9  76900000     NaN
2      Afghanistan  1814     28.1   3280000     NaN
3      Afghanistan  1885     28.5   4460000     NaN
4      Afghanistan  2016     61.2  35400000  2150.0
...            ...   ...      ...       ...     ...
58690       Tuvalu  1823      NaN      2540     NaN
58691       Tuvalu  2034      NaN     13700     NaN
58692       Tuvalu  1908      NaN      3810     NaN
58693       Tuvalu  1940      NaN      4440     NaN
58694       Tuvalu  2046      NaN     15400     NaN

[58695 rows x 5 columns]